<div class="container">
  <form class="example-form col-12">
    <div class="col-6 pull-left">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Customer" aria-label="Number" matInput [formControl]="myControlCustomer" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option2 of filteredCustomers | async" [value]="option2">
            {{ option2 }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)]="name" readonly />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Phone" [(ngModel)]="phone" readonly />
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input matInput placeholder="E-mail" [(ngModel)]="email" readonly />
      </mat-form-field>
    </div>

    <div class="col-6 pull-right">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Film" aria-label="Number" matInput [formControl]="myControlFilm" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
          <mat-option *ngFor="let option of filteredFilms | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Film Name" [(ngModel)]="film_name" readonly />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Time" [(ngModel)]="time" readonly />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="number" matInput placeholder="Buy" [(ngModel)]="buy" />
      </mat-form-field>
    </div>
    <div class="clear"></div>
    <button mat-flat-button color="danger" (click)="canceled()">Cancel</button>&nbsp;
    <button mat-flat-button color="primary" (click)="createOrder()">Order</button>
  </form>
</div>

<router-outlet></router-outlet>